/* https://www.youtube.com/watch?v=BjjzptCjehU */
body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 50px 0px 100px 0px;
}

.yes, .no {
    width: 164px;
    height: 50px;
    position: relative;
}

button {
    background: transparent;
    outline: none;
    border: none;
    color: white;
    letter-spacing: 1px;
    font-size: 19.2px;
}


/* YES BUTTON */
.yes button::before, .yes button::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: black;
    z-index: 0;
    transition: 0.4s;
}

.yes button::before {
    left: 0;
    border-radius: 2em 0 0 2em;
}

.yes button::after {
    right: 0;
    border-radius: 0 2em 2em 0;
}

.yes span {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

input[type="checkbox"]:checked + button::before {
    transform: rotate(45deg) translate(1em, -1.11em);
    animation: colour-me 0.4s ease-in 0.4s forwards;
}

input[type="checkbox"]:checked + button::after {
    transform: rotate(-45deg) translate(-1em, -1.11em);
    animation: colour-me 0.4s ease-in 0.4s forwards;
}

input[type="checkbox"]:checked + button span {
    opacity: 0;
}

/* Animation for heart colour change */
@keyframes colour-me {
    100% { background: #f56c7e; }
}


/* NO BUTTON */
.no {
    background-color: black;
    border-radius: 30px;
}

.no:hover {
    background-color: #6c7ef5;
}